<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="Singleton" type="futurocom.snmp.CSnmpConnexion, futurocom.snmp" objectUri="ISnmpConnexion"/>
				</service>
			<channels>
        <channel ref="tcp" port="8175" >
				<serverProviders>				
				  <formatter ref="binary" typeFilterLevel="Full" />
        </serverProviders>
				<clientProviders>
				  <formatter ref="binary" />
				</clientProviders>
			</channel>
			</channels>

			<lifetime leaseTime="3m" renewOnCallTime="3m" sponsorshipTimeout="5m" leaseManagerPollTime="20s" />
		</application>
	</system.runtime.remoting>
	</configuration>
